.inv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
}

.dash {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.body {
    display: flex;
    flex-direction: row;
}

.dash #imp-csv {
    order: 1;
    margin-left: auto;
}

.dash #add-item {
    order: 2;
    margin-left: 20px;
}

.dash #filter-btn {
    order: 3;
    margin-left: 20px;
}